.header {
    border-bottom: 1px solid #ececec;
    .container {
        display: flex;
    }
}

.nav {
    display: flex;
}

.site-nav {
    position: relative;
    display: flex;
}

.site-nav__link {
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.site-nav__items {
    position: relative;
    &:not(:last-child) {
        margin-right: 50px;
    }
}

.active {
    color: var(--accent-color);
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
    }
}

.contacts {
    margin-left: auto;
}

.connect {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    margin-left: auto;
}

.connect__link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.connect__item:not(:last-child) {
    margin-right: 50px;
}

.connect__icon {
    fill: var(--primary-text-color);
    margin-right: 10px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .connect__link:hover &,
    .connect__link:focus & {
        fill: var(--accent-color);
    }
}