.social {
    display: flex;
}

.social__item {
    width: 44px;
    height: 44px;
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.social__link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--white-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.team__social {
    margin-bottom: 30px;
    justify-content: center;
}

.team__link {
    background-color: var(--main-background-color);
    fill: var(--primary-text-color);
}

.team__icon {
    fill: var(--icon-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .team__link:hover &,
    .team__link:focus & {
        fill: var(--white-color);
    }
}

