:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --main-background-color: #ffffff;
    --team-background-color: #f5f4fa;
    --footer-background-color: #2f303a;
    --black-color: #000000;
    --main-button-hovbgc: #188ce8;
    --white-color: #ffffff;
    --icon-color: #afb1b8;
}